*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body 
{
    background-color: antiquewhite;
    text-align: center;
    font-family:'Courier New';
    font-size: 1.2em;
    min-height: 100vh;
}

.grid-container > *
{
    padding: 20px;
    box-shadow: 10px lightgrey;
}

.grid-container
{
    display: grid;
    grid-template: 
    "header" 150px
    "navbar" 50px
    "main" auto
    "sidebar" 50px 
    "footer" 50px;
    
    .header
    {
        grid-area: header;
        background-color: lightsalmon;
    }

    .navbar
    {
        grid-area: navbar;
        background-color: lightcyan;
    }

    .main
    {
        grid-area: main;
        background-color: lightgreen;
    }

    .sidebar
    {
        grid-area: sidebar;
        background-color: lightseagreen;
    }

    .footer
    {
        grid-area: footer;
        background-color: lightgray;
    }
    
    @media (min-width: 800px)
    {
        grid-template: 
        "header header" 100px
        "navbar navbar" 25px
        "sidebar main" auto
        "sidebar footer; 25px"
    }
}
